.github-ribbon--inner {
    position: absolute;
    padding: 2px 0;
    background-color: #db5855;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15));
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 9999;
    pointer-events: auto;
    /*top-right-corner*/
    top: 42px;
    right: -42px;
    
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.github-ribbon--inner a,
.github-ribbon--inner a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 200px;
    line-height: 20px;
    display: inline-block;
    padding: 2px 0;
    /* stiching */
    border-width: 1px 0;
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.7);
}
/*
@media screen and (min-width: 400px) and (max-width: 999px) {
    .github-ribbon--inner {
        top: 18px;
        right: -70px;
    }
}
*/
