/* some style */

.off-screen{
  position:absolute;
  left:-9999px;
}

.relative{
  position: relative;
}

.non-selectable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.center{
    text-align: center;
}

.margin-left-none{    margin-left: 0px !important; }
.margin-bottom-none{  margin-bottom: 0px !important; }
.margin-bottom-mid{   margin-bottom: 1rem; }
.margin-bottom-huge{  margin-bottom: 5rem; }
.margin-top-huge{  margin-top: 5rem; }

.min-h-huge{
  min-height: 400px;
}

.greyish{
  color: #9e9e9e;
}

.monospaced{
  font-family: "Ubuntu Mono";
  font-style: normal;
}
